*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main{
    height: 100%;
    width: 100%;
    background-color: black;
    background-color: #fffaf4;
    /* position: relative; */
}
.nav{
    height: 8%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    /* position: fixed; */
}
.lt{

}
.rt{
    display: flex;
}
.rt>button{
    padding: 6px 16px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.cen{
    display: flex;
    gap: 20px;
}
.cen>a{
    text-decoration: none;
    color: black;
}
.page1{
    height: 80%;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    background-image: url(https://images.unsplash.com/photo-1643208589889-0735ad7218f0?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
 .up>h1{
    color: white;
} 
.up>p{
    color: white;
}
.cent>h1{
    color: white;
}
.dw>p{
    color: white;
} 
.dw>h1{
    color: white;
} 
 .cent>img{
    width: 20%;
 }
 .dw>h1>span>button{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
} 
.page2{
    height: 100%;
    width: 100%;
    background-color: #fde8ce;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.elem{
    height: 300px;
    width: 300px;
    background-color: white;
    /* border: 1px solid black ; */
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    justify-content: center;
    padding: 0 40px;
   
}
.elem>button{
    width: 35%;
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: none;
    margin-top: 10px;
    /* margin-left: 50px; */
}

.page3{
    height: 80%;
    width: 100%;
    /* background-color: #00ff9d; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.upp{
    height: 20%;
    width: 100%;
    /* background-color: #6d8000; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .upp>h1{

} */
 .dd{
   height: 100%;
   width: 100%;
   background-color: rgb(205, 231, 255);
   display: flex;
   justify-content: center;
   gap: 50px;
 }
 .el{
    height: 400px;
    width: 300px;
    /* background-color: #fff; */
    /* border: 1px solid black; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.el>p{
    margin-top: 15px;
    margin-left: 50px;
}

.page4{
    height: 100%;
    width: 100%;
    background-color: #0400ff;
}
